{% extends "base.html" %}

{% block page_title %} Authority Profile {% endblock %}

{% block body %}

    {% if current_user.is_authenticated %}

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">

            Hi {{ current_user.name }}! <br>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-outline-dark"
                        onclick="location.href='/logout'">Logout
                    </a>
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" 
                        data-target="#deleteModal">
                    Delete account
                </button>
                    
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" 
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModal">Are you sure??</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                If you delete your account, <br>
                                    everything will be lost!
                            </div>

                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger"
                                onclick="location.href='/delete_user/{{current_user.id}}'">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                </li>
            </ul>
        </a>
        </nav>
    {% endif %}


{% endblock %}