{% extends "base.html" %}

{% block title %} Authority Profile {% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">

            Hi {{ current_user.name }}! <br>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-outline-dark"
                        onclick="location.href='/logout'">Logout
                    </a>
                </li>
            </ul>
        </a>
        </nav>
    {% endif %}


{% endblock %}