{% extends "base.html" %}

{% block title %} Authority Profile {% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-outline-dark"
                        onclick="location.href='/logout'">Logout
                    </a>
                </li>
            </ul>
        </nav>
        <br>

        <h5>Hi {{current_user.name}} </h5>> <br>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-authority" role="tabpanel"
                 aria-labelledby="pills-authority-tab">
    
                <form action="/ha/mark_positive" method="POST">
                    {{ form.hidden_tag() }}
                    <dl>
                        {% for field in form.display %}
                            <dt>{{ form[field].label }}</dt>
                            <dd>{{ form[field]() }}</dd>
                            {% if form[field].errors %}
                                {% for e in form[field].errors %}
                                    <p class="help-block">{{ e }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </dl>
                    <p>
                        <input type=submit value="Marks as positive">
                </form>
                <h3>List of positive customers</h3>
                {% for customer in pos_customers %}
                    <div>
                        <ul>
                            <form action="/contact/{{customer.id}}" method="GET">
                                <li>
                                    {{ customer.firstname }} {{ customer.lastname }} -- SSN: {{ customer.social_number }} | email: {{ customer.email }}
                                    <button class="btn btn-sm btn-primary text-right" type="submit">Check contacts</button>
                                </li>
                            </form>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


{% endblock %}