{% extends "base.html" %}

{% block title %} Authority Profile {% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-outline-dark"
                        onclick="location.href='/logout'">Logout
                    </a>
                </li>
            </ul>
        </nav>
        <br>

        <h5>Hi {{current_user.name}} </h5>> <br>
        <h3>Positive Customer</h3>
                    <div>
                        <il>{{ customer.firstname }} {{ customer.lastname }} -- SSN: {{ customer.social_number }} | email: {{ customer.email }} | phone: {{ customer.phone }}</il>
                    </div>
        <h3>Contacts of the positive customer</h3>
        {% for c in pos_contact %}
            <div>
                <ul>
                        <li>
                            {% if c.id != customer.id  %}
                                {{ c.firstname }} {{ c.lastname }} -- SSN: {{ c.social_number }} | email: {{ c.email }} | phone: {{ c.phone }}
                            {% endif %}
                        </li>
                </ul>
            </div>  
        {% endfor %}
    {% endif %}
{% endblock %}