{% extends "base.html" %}

{% block title %} Add a Reservation {% endblock %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader() }}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block content %}
</nav>

<!--
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <dl>
        {% for field in form.display %}
            <dt>{{ form[field].label }}</dt>
            <dd>{{ form[field]() }}</dd>
            {% if form[field].errors %}
                {% for e in form[field].errors %}
                <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </dl>
        <p>
        <input type=submit value="Submit">
    </form>
    !-->
    
    <form action="" method="POST">
        {{ form.hidden_tag() }}

        {{ form.start_date.label }}
        {{ form.start_date(class='dp') }}
        {{ form.hidden_tag() }}
        {{ form.time_slots.label}}
        {{ form.time_slots }}
        {{ form.people_number.label}}
        {{ form.people_number(class='integer') }}
        <p>
        <input type="submit" value="Submit">
    </form>


{% endblock %}