{% extends "base.html" %}

{% block title %} Write a review {% endblock %}
{% block head %}
{% endblock %}

{% block content %}
</nav>
<br>

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <dl>
        <dt>{{ form.start_date.label }}</dt>
        <dd>{{ form.start_date }}</dd>
        <dt>{{ form.start_time.label }}</dt>
        <dd>{{ form.start_time }}</dd> 
        <dt>{{ form.people_number.label }}</dt>
        <input type="number" id="people_number" name="people_number" min="1" />
        </dl>
        <p>
        <input type=submit value="Submit">
    </form>



{% endblock %}


{% block footer %}
{% endblock %}