{% extends "base.html" %}

{% block title %} Sign up {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if user_type == 'customer' %}
                <p class="lead">Are you a restaurant operator? <a
                        href="{{ url_for('users.create_user_type', type_='operator') }}">Switch the form</a></p>
            {% else %}
                <p class="lead">Are you a simple customer? <a
                        href="{{ url_for('users.create_user_type', type_='customer') }}">Switch the form</a></p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <dl>
                    {% for field in form.display %}
                        <dt>{{ form[field].label }}</dt>
                        <dd>{{ form[field]() }}</dd>
                        {% if form[field].errors %}
                            {% for e in form[field].errors %}
                                <p class="help-block">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </dl>
                <p>
                    <input type=submit value="Submit">
            </form>
        </div>
    </div>


{% endblock %}

{% block footer %}
{% endblock %}
