{% extends "base.html" %}

{% block page_title %} Customer Profile {% endblock %}

{% block body %}

    {% if current_user.is_authenticated %}

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">

                Hi {{ current_user.firstname }}! <br>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="btn btn-outline-dark"
                            onclick="location.href='/logout'">Logout
                        </a>
                
                    <!-- TODO -->
                        <a class="btn btn-danger"
                            onclick="location.href='/'">Delete account
                        </a>
                    </li>
                </ul>
                
            </a>
        </nav>

        <br>

        <h2>Your Restaurants</h2>
        {% for restaurant in restaurants %}
            <div>
                <li>
                    {{ restaurant.name }} -- Likes:{{ restaurant.likes }}
                </li>
            </div>
        {% endfor %}
    {% endif %}


{% endblock %}