{% extends "base.html" %}

{% block title %} Customer Profile {% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-outline-dark"
                        href="{{ url_for('auth.logout')}}">
                        Logout
                    </a>
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" 
                        data-target="#deleteModal">
                    Delete account
                </button>
                    
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" 
                    aria-labelledby="deleteModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModal">Are you sure??</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                If you delete your account, <br>
                                    everything will be lost!
                            </div>

                            <div class="modal-footer">
                            <a type="button" data-dismiss="modal">
                                Close
                            </a>
                            <a href = "{{ url_for('users.delete_user',id_=current_user.id ) }}">
                                Delete
                            </a>                            
                            </div>
                        </div>
                    </div>
                </div>

                </li>
            </ul>
        </a>
        </nav>
        <br>
        
        <h5> Hi {{ current_user.firstname }}! </h5><br>
        <h3>Your reservations</h3><br>

        <table class="table">
            {% for r in reservations %}
            <tr>
                <td>
                Restaurant: {{ r.restaurant_id }} <br>
                People: {{ r.people_number }} <br>
                Start time: {{ r.start_time }} -- End time: {{ r.end_time }}
                </td>

                <td>
                    <a type="button" class="btn btn-light"
                        href="">
                    <!-- TODO -->
                        Edit
                    </a>
                </td>

                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-light" data-toggle="modal" 
                        data-target="#deleteReservation">
                      Delete
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="deleteReservation" tabindex="-1" 
                    aria-labelledby="deleteReservation" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Are you sure??
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Do you want to delete this reservation?
                          </div>
                          <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" 
                                data-dismiss="modal"> 
                                Close 
                            </a>

                            <a href = "{{ url_for('reservation.delete_reservation_customer',id=r.id, customer_id=r.user_id ) }}">
                                Delete
                            </a> 
                          </div>
                        </div>
                      </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}


{% endblock %}