{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

<!-- BARRA DI RICERCA-->

<br>

<form action="" method="POST">
    {{ form.hidden_tag() }}
    {{ form.search_field.label }}
    {{ form.search_field }}
    {{ form.filters.label }}
    {{ form.filters }}
    <input type=submit value="Submit">
</form>

<br>
<h5> Restaurants </h5><br>

{% for r in restaurants %}
    <tr>
        <td>
            <ul>
                <li>
                    {{ r.name }} | {{ r.address }} | {{ r.city }}
                    <td>
                        {% if r.tables|length and r.availabilities|length and current_user.type == "customer" %}
                            <a type="button" class="btn btn-primary active"
                            href="{{ url_for('reservation.create_reservation', restaurant_id=r.id) }}">
                                Book a Table
                            </a>
                        {% else %}
                            <a type="button" class="btn btn-primary disabled">
                                Book a Table
                            </a>
                        {% endif %}
                    </td>
                </li>
            </ul>
        </td>
    </tr>
{% endfor %}

<!-- LISTA RISTORANTI BEST RESTAURANT-->

{% endblock %}