{% extends "base.html" %}

{% block title %} Operator Profile {% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="btn btn-outline-dark"
                    href="{{ url_for('auth.logout')}}">
                    Logout
                </a>
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" 
                data-target="#deleteModal">
            Delete account
        </button>
            
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" 
            aria-labelledby="deleteModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModal">Are you sure??</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        If you delete your account, <br>
                            everything will be lost!
                        Even you restaurant, be careful.
                    </div>

                    <div class="modal-footer">
                    <a type="button" data-dismiss="modal">
                        Close
                    </a>
                    <a href = "{{ url_for('users.delete_user',id_=current_user.id ) }}">
                        Delete
                    </a>                            
                    </div>
                </div>
            </div>
        </div>

        </li>
    </ul>
        </a>
        </nav>
        <br>
        <h5> Hi {{ current_user.firstname }}! </h5><br>

        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" 
                href="{{ url_for('users.update_user', id=current_user.id) }}">
                  Edit Info
              </a>
            </li>
        </ul>
        <br>
        <h5>
            <table class="table">
                <tr>
                    <td> Email</td>
                    <td> {{ current_user.email }} </td>
                </tr>
            </table>
        </h5><br>

        {% if restaurant == None %}
            <a class="nav-link active"
                href="{{ url_for('restaurants.add', id_op=current_user.id) }}">
                Add your restaurant
            </a>
        {% else %}
            <h3>Your Restaurant</h3>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" 
                    href="{{ url_for('restaurants.edit_restaurant',
                        id_op=current_user.id, rest_id=restaurant.id) }}">
                      Edit Restaurant
                  </a>
                </li>
            </ul>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a class="nav-link active"
                        href="{{ url_for('restaurants.details', id_op=current_user.id ) }}">
                            {{ restaurant.name }} -- {{ restaurant.address }}
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block footer %}
{% endblock %}