{% extends "base.html" %}

{% block title %} Operator Profile {% endblock %}

{% block content %}

    {% if current_user.is_authenticated %}

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-outline-dark"
                        onclick="location.href='/logout'">Logout
                    </a>
                
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" 
                        data-target="#deleteModal">
                    Delete account
                </button>
                    
                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" 
                    aria-labelledby="deleteModal aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModal">Are you sure??</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-content">
                                If you delete your account, <br>
                                    everything will be lost!
                            </div>

                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger"
                                onclick="location.href='/delete_user/{{current_user.id}}'">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

                </li>
            </ul>
        </a>
        </nav>
        <br>
        <h5> Hi {{ current_user.firstname }}! </h5><br>
        {% if restaurant == None %}
            <a class="nav-link active"
                onclick="location.href='/restaurants/add/{{current_user.id}}'">
                Add your restaurant
            </a>
        {% else %}
            <h3>Your Restaurant</h3>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a class="nav-link active"
                        onclick="location.href='/restaurants/details/{{current_user.id}}'">
                            {{ restaurant.name }} -- {{ restaurant.address }}
                        </a>
                    </li>
                </ul>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}