{% extends "base.html" %}

{% block title %} List {% endblock %}
{% block content %}
    <div class="row" style="margin-top:20px">
        <div class="col-sm-6">
            <h3>{{ restaurant.name }}<img src="{{ url_for('static', filename='bootstrap-icons/hand-thumbs-up.svg') }}"
                                          alt="" width="32" height="32" title="Bootstrap"></h3>
            <table class="table">
                <tr>
                    <th>Phone</th>
                    <td>{{ restaurant.phone }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>
                        <address>{{ restaurant.address }}, {{ restaurant.city }}</address>
                    </td>
                </tr>
                <tr>
                    <th>Menu type</th>
                    <td><em>{{ restaurant.menu_type }}</em></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><span class="badge badge-success">Open</span> o <span class="badge badge-danger">Closed</span>
                    </td>
                </tr>
                <tr>
                    <th>Average rate</th>
                    <td>x / 10</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <iframe
                    width="500px"
                    height="250px"
                    src="https://www.openstreetmap.org/export/embed.html?bbox={{ restaurant.lon - 0.001 }}%2C{{ restaurant.lat - 0.001 }}%2C{{ restaurant.lon + 0.001 }}%2C{{ restaurant.lat + 0.001 }}&amp;layer=mapnik&amp;marker={{ restaurant.lat }}%2C{{ restaurant.lon }}"
                    style="border: 1px solid black" class="embed-responsive-item"></iframe>
            <p class="lead">
                <a href="https://www.openstreetmap.org/#map=17/{{ lat }}/{{ lon }}">See it Larger</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3 class="display-5 text-primary">Opening hours</h3>
            <p class="text-justify">Here you can find the opening hours for the restaurant:</p>


            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Hours</th>
                    {# <th scope="col">Notes</th> #}
                </tr>
                </thead>
                <tbody>
                {% for opening in restaurant.availabilities %}
                    <tr>
                        <td></td>
                        <td>{{ opening.start_time }}-{{ opening.end_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h3 class="display-5 text-primary">Reservations</h3>
            {% if current_user.is_authenticated %}
                <p>Are you <b>hungry</b>?
                    <button type="button" class="btn btn-outline-primary"
                            onclick="location.href={{ url_for('reservation.create_reservation', restaurant_id=restaurant.id ) }}">
                        Book a Table
                    </button>
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <h3 class="display-5 text-primary">Safety Information</h3>

            <h5 class="text">Precautions measures</h5>
            {% if list_measures is defined and list_mesaures|length %}
                <ul class="list-group list-group-flush">
                    {% for m in list_measures %}
                        <li class="list-group-item">{{ m }} </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-warning">No precautions measures are listed by operator</p>
            {% endif %}
        </div>
    </div>


    <div class="row">

    </div>

    <div class="row">
    <div class="col-sm-12">
        <h3 class="display-5 text-primary">User reviews</h3>
    </div>
    <div class="row">
        {% for i in range(0, 4) %}
            <div class="col-sm">
                <div class="card" style="width: 18rem; margin-top:10px;">
                    <div class="card-body">
                        <h5 class="card-title">Lucio Dalla</h5>
                        <h6 class="card-subtitle mb-2 text-muted">5/10</h6>
                        <p class="card-text">Fa cacare, s'è mangiato di morto male.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}