{% extends "components/navbar/base_navbar.html" %}
{% block navbar_content %}
    <nav class="navbar navbar-light bg-light">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary"
                        onclick="location.href='{{ url_for('users.create_user_type', type='customer') }}'">Sign up
                </button>

                <button type="button" class="btn btn-outline-success"
                        onclick="location.href='{{ url_for('auth.login') }}'">Login
                </button>
            </li>
        </ul>
    </nav>
{% endblock %}