{% extends "components/navbar/base_navbar.html" %}
{% block navbar_content %}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/"></a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                {% if current_user.type == "operator" %}
                    <a class="btn btn-outline-primary"
                    href="{{ url_for('auth.operator',id=current_user.id ) }}">
                    Profile
                    </a>
                {% elif current_user.type == "customer" %}
                    <a class="btn btn-outline-primary"
                        href="{{ url_for('auth.profile',id=current_user.id ) }}">
                        Profile
                    </a>
                {% elif current_user.type == "authority" %}
                    <a class="btn btn-outline-primary"
                        href="{{ url_for('auth.profile',id=current_user.id ) }}">
                        Profile
                    </a>
                {% endif %}
                <a class="btn btn-outline-primary"
                    href="{{ url_for('auth.notifications') }}">
                    Notifications
                    {% set new_notifications = current_user.new_notifications() %}
                    {% if new_notifications %}
                        <span class="badge">{{ new_notifications }}</span>
                    {% endif %}
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}